wheel
rustenv
ptvsd
patchwork

#eventlet
flask
flask-socketio
socketIO_client
cffi
# NOTE mlei: socketio is completely obsolete and python-socketio should be used instead
#            this stays for educatory purposes
#socketIO
keras
rig
tensorflow==1.15
python-socketio

orderedset
scikit-learn
colorama
IPython==5.6
gevent
#gevent-websocket